.nav-tabs[_ngcontent-c2] > li.active[_ngcontent-c2] > a[_ngcontent-c2], .nav-tabs[_ngcontent-c2] > li.active[_ngcontent-c2] > a[_ngcontent-c2]:hover, .nav-tabs[_ngcontent-c2] > li.active[_ngcontent-c2] > a[_ngcontent-c2]:focus {
    color:black;
    cursor: default;
    background-color:lightseagreen;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}